*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
 
body{
    background-color: rgb(0, 0, 0);
}
      
.titulo{
    font-size: 3em;
    font-family: poppins;
    color: rgb(255, 255, 255);
    position:;
    text-align: center;
    padding-top: 1em;
}

.contenedor-imagen {
    width: 70%; /* Ajusta el ancho del contenedor según tus necesidades */
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
    text-align: center; /* Esto centrará la imagen en caso de que sea un elemento en línea */
    padding-top: 3em;
}

.imagen-fondo{
    width: 50%;
    border-radius: 50%;
    opacity: 0.8;
}

.seccion1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
}

.caja-texto{
    width: 25em;
    height: 10em;
}

.contenedor-alerta {
    display:inline-flex;
    align-items: center;
    padding-top: 1em;
}

.icono {
    width: 1.5em;
}

.texto-alerta {
    color: white;
}

.contenedor-botones{
    padding-top: 3em;
}

input{
    width: 10em;
    height: 3em;
    margin: 10px 20px;
    border-radius: 10px;
}

.contenedor-parrafo{
    color: white;
}








