*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
 
body{
    background-color: #000000;
}

.contenedor-imagen {
    width: 50%; /* Ajusta el ancho del contenedor según tus necesidades */
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
    text-align: center; /* Esto centrará la imagen en caso de que sea un elemento en línea */
    padding-top: 3em;
}

.imagen-fondo{
    width: 50%;
    border-radius: 50%;
    opacity: 0.8;

}
      
.titulo{
    font-size: 2em;
    font-family: poppins;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: .5em;
    text-transform: capitalize;
}



.seccion1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
}

.caja-texto{
    width: 23em;
    height: 10em;
    border-radius: 10px;
}

.contenedor-alerta {
    display:inline-flex;
    align-items: center;
    padding-top: 1em;
}

.icono-alerta {
    width: 1.5em;
}

.texto-alerta {
    color: white;
}

.contenedor-botones{
    padding-top: 3em;
  
}

input {
    width: 23em;
    height: 3em;
    display: grid;
    border-radius: 10px;
    margin: 1em auto;
    border-color: #0A3871;
    border-width: 2px;
    
}


.contenedor-parrafo{
    color: white;
    text-align: center;
    padding-top: 5em;
}

.contenedor-copiar{
    text-align: center;
}










